@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root,
:root[data-theme="dark"] {
    --primary-color: #f0f0f0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292e;
    --border-color: #28292e;

    --title-color: #f0f0f0;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9;
    --text-color: #9a9a9c;

}

:root[data-theme="light"] {
    --primary-color: #0b0b0f;

    --primary-bg-color: #e9e9e9;
    --secondary-bg-color: #c7c8c9;
    --border-color: #c7c8c9;

    --title-color: #f0f0f0;
    --link-color: #28292e;
    --icon-color: #56575a;
    --text-color: #28292e;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    color: var(--text-color);
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

b{
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}
h1 {
    font-size: 2.5rem;
    font-weight: 200;
  
}

h1, h2, h3 {
font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
text-transform: uppercase;
color: var(--title-color);
font-weight: 200;
}
 p {
    font: 1.25rem;
    text-align: justify;
 }

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;

}

.menu--mobile {
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    width: 100%;
    position: fixed;
    bottom: 0;

}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0.5rem 1rem;

}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;

}

.menu__icon,
.menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
    
}

.menu__text {
    font: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}
 .menu--social{
    gap: 1rem;
    margin-top: 1rem;
 }

 .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1rem;
    
 }

 .btn span , .btn i{
    font-size: 1.25rem;
    text-transform: uppercase;
    
 }

 .btn--primary span{
    color: var(--primary-color);
 }

 .btn--primary {
    border: 1px solid var(--primary-color);
 }
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.main__content1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__content2{
    width: 100%;
    aspect-ratio: 16/9;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6.25rem 1rem 2rem 1rem;
    background: var(--secondary-bg-color);
    margin-top: -5.5rem;

}
.habilidades h2 {
text-transform: none;
}

footer p {
    font-size: .875rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

@media (min-width : 768px) {
    .header {
        border-bottom: 1px solid var(--border-color);
        position: fixed;
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }

    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width : 1400px) {
    .header {

        padding: 1rem 15rem;
    }
}